<section id="{{ section.slug | slugify }}">
  <div class="block block-cta-bar">
    <div class="container">
      <div class="columns">
          <div class="text">
            <p>{{ section.content }}</p>
          </div>
          <div class="cta">
            <form action="https://formspree.io/{{ section.email_recipient }}" method="POST">
              <input type="name" placeholder="Name" class="inverted" name="name" required>
              <div class="empty"></div>
              <input type="email" placeholder="Email address" class="inverted" name="email" required>
              <input type="text" placeholder="Your inquiry here" class="inverted" name="description" required>
              <button type="submit" class="button primary inverted"><strong>Contact Us</strong></button>
            </form>
          </div>
      </div>
    </div>
  </div>
</section>
