<section id="{{ section.slug | slugify }}" class="block block-feature-2 {% if section.alt %}alt{% endif %}">
  <div class="container">
    <div class="columns">
      <div class="column media">
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}" loading="lazy">
      </div>
      <div class="column text">
          <h3><span class="light">{{ section.headline }}</span></h3>
          <p>{{ section.content }}</p>
      </div>
    </div>
  </div>
</section>
