<section id="{{ section.slug | slugify }}">
  <div class="block block-registration-bar {{section.class}}">
    <div class="container">
      <div class="columns">
          <div class="cta">
            {% if section.closed %}
              <p> Registration is now closed. Join the <a href="#waitlist">waitlist</a> below. </p>
            {% else %}
              <form action="{{ site.backend }}/register" method="POST" id="register">
              <input type="name" placeholder="Name" name="name" required>
              <input type="email" placeholder="Email address" name="email" required>
              <div class="select">
                <label for="call">
                  Will you join a 30 minute intro call with your Moai on <strong>Mon, Nov 15 @ 12pm EST</strong>?<br>
                  <em>Your answer determines your Moai - strong group relationships result in greater progress.</em><br>
                </label>
                <select name="call" id="call" required>
                  <option value=""></option>
                  <option value="yes">Yes! (Your stake is donated if you don't attend.)</option>
                  <option value="no">No. (Your Moai will contain others who selected this.)</option>
                  <option value="conflict">I would have, but I have a conflict.</option>
                </select>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="ack" id="ack" required>
                <label for="ack">
                  I understand that it's free to join, but <strong> my card is required to enforce the stake</strong> (if necessary).<br>
                  <em> You will NOT be charged right now. See the <a href="#faqs">FAQs</a> for more details.</em> <br> 
                  <em> If you want to join a stake-less program, sign up for the <a href="#waitlist">waitlist</a>. </em>
                </label>
              </div>
              <input type="hidden" name="referrer">
              <input type="hidden" name="success_url"= value="{{ site.url }}{{ section.success_url }}">
              <input type="hidden" name="cancel_url">
              <input type="hidden" name="program_id" value="{{ section.program_id }}">
              <button type="submit" class="button primary"><strong>Join Now!</strong></button>
              </form>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.forms['register'].elements['referrer'].value = new URLSearchParams(location.search).get('referrer');
  document.forms['register'].elements['cancel_url'].value = window.location.href;
</script>