<section class="block block-testimonials {{section.class}}">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="quote">"{{ section.col_1.quote }}"</p>
        <br>
        <p class="person">- {{ section.col_1.person }}</p>
      </div>
      <div class="column">
        <p class="quote">"{{ section.col_2.quote }}"</p>
        <br>
        <p class="person">- {{ section.col_2.person }}</p>
      </div>
      <div class="column">
        <p class="quote">"{{ section.col_3.quote }}"</p>
        <br>
        <p class="person">- {{ section.col_3.person }}</p>
      </div>            
    </div>
  </div>
</section>