<section id="{{ section.slug | slugify }}">
  <div class="block block-registration-bar {{section.class}}">
    <div class="container">
      <div class="columns">
          <div class="cta">
            {% if section.closed %}
              <p> Registration is now closed. Join the <a href="#waitlist">waitlist</a> below. </p>
            {% else %}
              <form action="{{ site.backend }}/register" method="POST" id="register">
              <input type="name" placeholder="Name" name="name" required>
              <input type="email" placeholder="Email address" name="email" required>
              <div class="checkbox">
                <input type="checkbox" name="ack" id="ack" required>
                <label for="ack">
                  <strong> I understand that my credit card is required ONLY to enforce the stake. </strong> <br>
                  <em> It will NOT be charged right now - see the <a href="#faqs">FAQs</a> for more details. </em> <br> 
                  <em> If you want to join a stake-less program, sign up for the <a href="#waitlist">waitlist</a>. </em>
                </label>
              </div>
              <input type="hidden" name="referrer">
              <input type="hidden" name="success_url"= value="{{ site.url }}{{ section.success_url }}">
              <input type="hidden" name="cancel_url">
              <input type="hidden" name="program_id" value="{{ section.program_id }}">
              <button type="submit" class="button primary"><strong>Join Now!</strong></button>
              </form>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.forms['register'].elements['referrer'].value = new URLSearchParams(location.search).get('referrer');
  document.forms['register'].elements['cancel_url'].value = window.location.href;
</script>